$theme-color__1: #011140;
$theme-color__2: #DFE7F2;
$theme-color__3: #b0c6d9;
$theme-color__4: #7693A6;
$theme-color__5: #F2F2F2;

$theme-text__font: 'Titillium Web';
$theme-text__size-1: 26px;
$theme-text__size-2: 24px;
$theme-text__size-3: 20px;
$theme-text__size-4: 16px;
