@import "./bootstrap/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css?family=Oxygen|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Oxygen|Quicksand");
@import url("https://fonts.googleapis.com/css?family=Oxygen|Quicksand");
html, body {
  height: 100%;
  margin: 0;
}

.darkspace {
  margin-left: auto;
  margin-right: auto;
  background-color: #28282A;
  color: #E7E8EA;
  font-family: Oxygen;
}

.main-content {
  background-color: #28282A;
  padding: 0;
  /* Style Checker */
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  font-family: Quicksand;
  font-weight: 600;
}
.main-content .main-body .main-section {
  background-color: #28282A;
  padding: 1.5% 1.5%;
  font-size: 18px;
  text-shadow: 0px 0px 6px #000;
}
@media (max-width: 575.98px) {
  .main-content .main-body .main-section {
    padding: 1.5% 1.5%;
  }
}
.main-content .main-body .main-section h1, .main-content .main-body .main-section h3 {
  color: #C44C27;
}
.main-content .main-body .main-section .content {
  padding: 2% 2%;
  border-radius: 20px;
}
@media (max-width: 2565px) {
  .main-content .main-body div#first {
    /* The image used */
    background-image: url("https://imgur.com/VaFn5sB.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content .main-body div#second {
    /* The image used */
    background-image: url("https://imgur.com/bXH1C6Z.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content .main-body div#third {
    /* The image used */
    background-image: url("https://imgur.com/JgOvsTb.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content .main-body div#last {
    /* The image used */
    background-image: url("../res/dawn.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 575.98px) {
  .main-content .main-body div#first {
    /* The image used */
    background-image: url("https://imgur.com/VaFn5sB.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content .main-body div#second {
    /* The image used */
    background-image: url("https://imgur.com/VaFn5sB.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content .main-body div#third {
    /* The image used */
    background-image: url("https://imgur.com/VaFn5sB.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main-content .main-body div#last {
    /* The image used */
    background-image: url("https://imgur.com/VaFn5sB.png");
    color: #c0cdd3;
    /* Set a specific height */
    height: 100%;
    width: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.active-link {
  color: #F6E782 !important;
  font-size: 25px !important;
}

.even-content {
  color: #c0cdd3;
  background-color: #787e74;
  min-height: 300px !important;
  max-height: 300px !important;
}

.wrapper-overlay-dark {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.wrapper-overlay-light {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.15);
}

@media (max-width: 575.98px) {
  .wrapper-my-face {
    max-height: 200px;
  }
  .wrapper-my-face img {
    max-height: 200px;
  }
}
@media (max-width: 2565px) {
  .wrapper-my-face {
    max-height: 300px;
  }
  .wrapper-my-face img {
    max-height: 300px;
  }
}
.wrapper-my-face .yaranaika {
  opacity: 0;
}
.wrapper-my-face .yaranaika:hover {
  opacity: 0.75;
}

html, body {
  height: 100%;
  margin: 0;
}

.darkspace {
  margin-left: auto;
  margin-right: auto;
  background-color: #28282A;
  color: #E7E8EA;
  font-family: Oxygen;
}

.sidebar-left {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding: 25px 5px;
  padding-top: 50px;
  overflow: auto;
  /* The image used */
  background-image: url("https://imgur.com/VaFn5sB.png");
  color: #c0cdd3;
  /* Set a specific height */
  height: 100%;
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Style Checker */
}
@media (max-width: 1199.98px) {
  .sidebar-left {
    left: 1px;
  }
}
@media (max-width: 2565px) {
  .sidebar-left {
    left: 1px;
  }
}
.sidebar-left .sidebar-body {
  padding: 0;
}
.sidebar-left .sidebar-body .sidebar-links {
  max-width: 220px;
  overflow-y: hidden;
  overflow-x: hidden;
}
@media (max-width: 2565px) {
  .sidebar-left .sidebar-body .sidebar-links {
    margin: 0 auto;
  }
}
.sidebar-left .sidebar-body .sidebar-links .sidebar-link-item {
  margin-bottom: 50px;
  padding-left: 8%;
}
.sidebar-left .sidebar-body .sidebar-links .sidebar-link-item a {
  font-size: 18px;
  color: #58ada1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.sidebar-left .sidebar-body .sidebar-links .sidebar-link-item a:hover {
  text-decoration: none !important;
  color: #F6E782 !important;
  font-size: 25px !important;
}
.sidebar-left .sidebar-body .sidebar-links .sidebar-timeline {
  position: fixed;
  width: 1px;
  height: 90%;
}

html, body {
  height: 100%;
  margin: 0;
}

.darkspace {
  margin-left: auto;
  margin-right: auto;
  background-color: #28282A;
  color: #E7E8EA;
  font-family: Oxygen;
}

/*# sourceMappingURL=compiled.css.map */
