@import "./theme-darkspace";
.main-content {
	background-color: $space-bg;
	padding: 0;
	h1,h2,h3,h4,h5,h6 {
		font-family: $font-primary;
		font-weight: 600;
	}

	.main-body {
		/*padding-top: 50px; 
		padding-bottom: 100px;*/
		.main-section{
			background-color: $space-bg;
			padding: 4% 2%;
			font-size: 18px;
			text-shadow: 0px 0px 6px #000;

			@media #{$xs} {
				padding: 10% 4%;	
			}
			
			h3 {
				color: $space-contrast-3;
			}
		}
	}
	/* Style Checker */
	//border: 1px solid yellow;
}

.active-link {
	color: $space-contrast-2 !important;
	font-size: 25px !important;
}

.even-content { 
	color: $light-fog-2;
	background-color: $light-fog-1;
	min-height: 300px !important;
	max-height: 300px !important;
}