@import "./theme-darkspace";
.main-content {
	background-color: $space-bg;
	padding: 0;
	h1,h2,h3,h4,h5,h6 {
		font-family: $font-primary;
		font-weight: 600;
	}

	.main-body {

		.main-section{
			background-color: $space-bg;
			padding: 1.5% 1.5%;
			font-size: 18px;
			text-shadow: 0px 0px 6px #000;

			@media #{$xs} {
				padding: 1.5% 1.5%;	
			}
			
			h1, h3 {
				color: $space-contrast-3;
			}

			.content {
				padding: 2% 2%;
				border-radius: 20px;
			}
		}
		
		@media #{$xl} {
			@include parallax-enabled;
		}
		@media #{$xs} {
			@include parallax-disabled;
		}
	}
	/* Style Checker */
	//border: 1px solid yellow;
}

.active-link {
	color: $space-contrast-2 !important;
	font-size: 25px !important;
}

.even-content { 
	color: $light-fog-2;
	background-color: $light-fog-1;
	min-height: 300px !important;
	max-height: 300px !important;
}

.wrapper-overlay-dark {
	height: 100%;
	background-color: $dark-overlay;
}

.wrapper-overlay-light {
	height: 100%;
	background-color: $light-overlay;
}

.wrapper-my-face {
	@media #{$xs} {
		// height: 200px;
		max-height: 200px;
		img {
			max-height: 200px;
		}
	}
	@media #{$xl} {
		// height: 300px;
		max-height: 300px;
		img {
			max-height: 300px;
		}
	}
	
	.yaranaika {
		opacity: 0;
		&:hover{
			opacity: 0.75;
		}
	}
}