@use './theme';
@use "sass:color";
html,
body{
  min-height:100vh;
  background-color: theme.$theme-color__5;
}

.portfolio{
  margin-top: 120px;
  font-family: theme.$theme-text__font, sans-serif;
}


.header{
  // width: 100vw;
  // padding: 20px 0px;
  // position: fixed;
  // margin: 25px 0px;
  .header__entry{   

    .header__entry-text{
      border: 1px solid theme.$theme-color__3;
      padding: 20px 0px;
      margin-bottom: 20px;
      text-align: center;
      font-size: theme.$theme-text__size-2;
      color: theme.$theme-color__3;

    }

  }
}

.expo { 
  margin: 0px auto;
}

.expo__image{
  // float: left;
  img{
    max-height: 300px;
    border-radius: 5px;
  }
}

.expo__statement{
  // float: right;
  
  min-height: 100%;
  text-align: center;
  color: theme.$theme-color__1;
  font-size: theme.$theme-text__size-1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .expo__message{
    padding: 10px;
    margin-left: -120px;
    background-color: color.scale(theme.$theme-color__3, $alpha: -30%);
    width: 500px;
  }
}

.expo__poweredby{
  text-align: center;
  color: theme.$theme-color__4;
  font-size: theme.$theme-text__size-3;
  padding: 30px 0px;
}