@use 'sass:color';
@use './theme';
@use './mediaq';
@mixin img-responsive {
  width: 100%;
  height: auto;
  display: block;
}
html,
body,
.container__main {
  height:100vh;
  min-height:100vh;
  background-color: theme.$theme-color__2;
}

.portfolio {
  margin-top: 120px;
}


.header {
  .header__entry{   
    .header__entry-text{
      border: 1px solid theme.$theme-color__3;
      padding: 20px 0px;
      margin-bottom: 20px;
      text-align: center;
      font-size: theme.$theme-text__size-2;
      color: theme.$theme-color__3;

    }

  }
}


#ego {
  margin-bottom: 100px;
}

.expo { 
  
  min-height: 250px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: space-evenly;

  &-reverse {
    
    min-height: 300px;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-around;
    align-content: space-around;
    // align-items: center;
  }

  img {
    border-radius: 10px;
  }
}

.expo__image-frame {
  // min-width: 350px;
  width: 600px;
  margin-bottom: 30px;
  padding: 15px;
  
  .expo__image-profile{
    background-position: center;
    background-image: url('./res/images/profilepic.png');
    background-size: cover;
    min-height: 300px;
    @include img-responsive();
  }

  .expo__image-project-1{
    background-position: center;
    background-image: url('./res/images/project1.png');
    background-size: cover;
    min-height: 300px;
    @include img-responsive();
  }
   
}

.expo__statement {
  max-width: 500px;
  // min-width: 400px;
  color: theme.$theme-color__1;
  
  @include mediaq.respond-below(md) {
    // border: 1px solid red;;
  }

  @include mediaq.respond-above(md) {
    // position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // margin: 0 auto;
    // height: 100%;
  }

  .expo__message {
    margin: 0 auto;

    @include mediaq.respond-below(md) {
      font-size: theme.$theme-text__size-4res;
      padding: 10px;
    }
    @include mediaq.respond-above(md) {
      font-size: theme.$theme-text__size-1res;
      padding: 20px;
    }
  }
  
  .expo__message-header {
    margin-bottom: 10px;
    font-family: theme.$theme-text__font-serif;
    font-size: theme.$theme-text__size-2res;
  }

  .expo__message-body {
    font-family: theme.$theme-text__font-sans;
    font-size: theme.$theme-text__size-3res;
  }

  .expo__message-logo {
    float: left;
    width: 200px;
    height: 200px;
  }
  
  
}

.expo__header {
  margin: 40px 0px;
  .title-1 {
    font-family: theme.$theme-text__font-sans;
    font-size: theme.$theme-text__size-1res;
    color: theme.$theme-color__4;
    padding: 0px 30px;
    box-shadow: -5px -5px 10px  #bdd0e0;
    border-radius: 10px;
  }

  .title-2 {
    font-family: theme.$theme-text__font-sans;
    font-size: theme.$theme-text__size-2res;
    color: theme.$theme-color__4;
    padding: 0px 30px;
    // box-shadow: -5px -5px 10px  #ffffff;
    border-radius: 10px;
    @include mediaq.respond-above(sm) {
      margin: 0 30px;
    }
    
  }
}

.expo__poweredby {
  text-align: center;
  color: theme.$theme-color__4;
  font-family: theme.$theme-text__font-sans;
  font-size: theme.$theme-text__size-4res;
  padding: 30px 0px;
  margin-bottom: 50px;
}
    