@import url('https://fonts.googleapis.com/css?family=Oxygen|Quicksand');
$font-primary: Quicksand;
$font-secondary: Oxygen;
$space-bg : #28282A;
$space-fg: #E7E8EA;
$space-contrast-1: #58ada1;
$space-contrast-2: #F6E782;
$space-contrast-3: #C44C27;
$light-fog-1: #787e74;
$light-fog-2: #c0cdd3;
$light-fog-3: #fff2c5;
$dark-overlay: rgba(0, 0, 0, 0.15);
$light-overlay: rgba(255, 255, 255, 0.15);

@mixin parallax-effect {
  /* Set a specific height */
	height: 100%; 
	width: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html, body {
	height: 100%;
	margin: 0;
}

.darkspace {
	margin-left: auto;
	margin-right: auto;
	background-color: $space-bg;
	color: $space-fg;
	font-family: $font-secondary;

}

@mixin parallax-nebula { 
	/* The image used */
	// background-image: url("../res/nebula.png");
	background-image: url("https://imgur.com/VaFn5sB.png");
	color: $light-fog-2;
	@include parallax-effect;
}

@mixin parallax-moon { 
	/* The image used */
	// background-image: url("../res/moon.png");
	background-image: url("https://imgur.com/bXH1C6Z.png");
	color: $light-fog-2;
	@include parallax-effect;
}

@mixin parallax-nightsky { 
	/* The image used */
	// background-image: url("../res/nightsky.png");
	background-image: url("https://imgur.com/JgOvsTb.png");
	color: $light-fog-2;
	@include parallax-effect;
}

@mixin parallax-dawn { 
	/* The image used */
	background-image: url("../res/dawn.png");
	color: $light-fog-2;
	@include parallax-effect;
}

@mixin parallax-enabled {
	div#first{
		@include parallax-nebula;
	}
	div#second{
		@include parallax-moon;
	}
	div#third{
		@include parallax-nightsky;
	}
	div#last{
		@include parallax-dawn;
	}
}

@mixin parallax-disabled {
	div#first{
		@include parallax-nebula;
	}
	div#second{
		@include parallax-nebula;
	}
	div#third{
		@include parallax-nebula;
	}
	div#last{
		@include parallax-nebula;
	}
}