@import url('https://fonts.googleapis.com/css?family=Oxygen|Quicksand');
$font-primary: Quicksand;
$font-secondary: Oxygen;
$space-bg : #28282A;
$space-fg: #E7E8EA;
$space-contrast-1: #58ada1;
$space-contrast-2: #F6E782;
$space-contrast-3: #C44C27;
$light-fog-1: #787e74;
$light-fog-2: #c0cdd3;
$light-fog-3: #fff2c5;

html, body {
	background-color: $space-bg;
	height: 100%;
	margin: 0;
}

.darkspace {
	margin-left: auto;
	margin-right: auto;
	background-color: $space-bg;
	color: $space-fg;
	font-family: $font-secondary;

}

.parallax-nightsky { 
	/* The image used */
	background-image: url("../res/nightsky.jpg");

	/* Set a specific height */
	height: 500px; 
	width: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.wrapper-fill-screen {
	min-height: 100%;
}